@font-face {
    font-family: 'TASA Orbiter';
    src: url("assets/"TASAOrbiter-VariableFont_wght.woff2);
}

*{--color: #C75300}

body{background-color: var(--back);
    --border: min(64px, 6vw);
    margin: var(--border) auto;
    font-family: "TASA Orbiter", sans-serif;
    width: fit-content}

header, footer, main section{
    background-color: white;
    padding: min(1em, 3vw) min(2em, 6vw);
    margin: 2rem var(--border);}

header {
    position: sticky;
    top: 0;
    box-shadow: var(--back) 0 0 2rem;}

a{color: var(--color)}
a:hover{text-decoration: underline; color: black}
a:active{background-color: black; text-decoration: none; color: white}

::selection{background-color: var(--color); color: white}

h1, h2{margin: 1rem 0 2rem;}

p{margin: 1em 0; max-width: 45ch}

footer a{display: block; width: fit-content}
footer a:last-child{text-align: right; margin-left: auto}

img{max-width: 100%}

ul{padding-left: 1em;
    list-style-type: "→ ";}
